<#include "/WEB-INF/views/common/layout/___wx_mainlayout.html" />

<#assign pageCss>
    <style type="text/css">

    </style>
</#assign>
<!-- 加载某个页面所需要的JavaScript脚本文件 -->
<#assign pageJavascript>
    <script type="text/javascript">


    </script>
</#assign>
<@mainlayout pageJavascript=pageJavascript pageCss=pageCss >

<div class="houses pad15">
    <h3>我们房源</h3>
    <!-- 项目列表循环 -->
    <div class="comStyle house-items ">
        <h3>南山区</h3>
        <ul class="ulItem">
            <li>
                <a href="/Apartment/estate/id/13.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-02-02/56b0639eb48c0.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">蛇口海明苑</p>
                    <p class="status">12套可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/10.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/estate/2015-08-03/55bede72f2500.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">大冲城市花园</p>
                    <p class="status">0间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/2.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/estate/2015-08-03/55bedf3cce5d8.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">水木丹华</p>
                    <p class="status">8间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/1.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/estate/2015-08-03/55beddf9a7829.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">汇景豪苑</p>
                    <p class="status">1间可租</p>
                </a>
            </li>
        </ul>
        <div class="clearb"></div>
    </div>
    <div class="comStyle house-items ">
        <h3>宝安区</h3>
        <ul class="ulItem">
            <li>
                <a href="/Apartment/estate/id/38.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2017-01-10/5874bc75677e9.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">西乡海乐家2号楼</p>
                    <p class="status">59套可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/37.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-12-22/585b98298f992.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">西乡大益家</p>
                    <p class="status">173间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/23.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-08-10/57aa9eb8932fd.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">西乡海湾家</p>
                    <p class="status">1间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/22.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/estate/hlj/51/01.jpg@!4x5" alt="">
                    <p class="title-bg"></p>
                    <p class="title">西乡海乐家</p>
                    <p class="status">1间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/14.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-03-31/56fcf6183756c.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">西乡银田家</p>
                    <p class="status">15间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/12.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-03-31/56fcf8387b2fb.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">西乡碧海栈</p>
                    <p class="status">17间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/11.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-03-31/56fcf60d203d8.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">固戍果岭家</p>
                    <p class="status">18间可租</p>
                </a>
            </li>
            <li>
                <a href="/Apartment/estate/id/9.html">
                    <img src="https://warmjar-wx.oss-cn-shenzhen.aliyuncs.com/admin/2016-03-31/56fcf5dff3ca9.jpg@!4x5"
                         alt="">
                    <p class="title-bg"></p>
                    <p class="title">海雅缤纷家</p>
                    <p class="status">1间可租</p>
                </a>
            </li>
        </ul>
        <div class="clearb"></div>
    </div>
    <!-- 项目列表循环结束 -->
</div>

</@mainlayout>