<#include "/WEB-INF/views/common/layout/___mainlayout.html"> 
<#assign pageBreadCrumbs>
	
</#assign>
<#assign pageCss>

</#assign> 
<!-- 加载某个页面所需要的JavaScript脚本文件 -->
<#assign pageJavascript>
<script type="text/javascript">
		
</script>
</#assign>
<@mainlayout pageJavascript=pageJavascript pageBreadCrumbs=pageBreadCrumbs >
    <div class="layui-tab layui-tab-brief" lay-filter="demoTitle">
        <ul class="layui-tab-title site-demo-title">
            <li class="layui-this">预览</li>
            <li class="">查看代码</li>
            <li class="">帮助</li>
        </ul>
        <div class="layui-body layui-tab-content site-demo site-demo-body">


            <div class="layui-tab-item layui-show">
                <div class="layui-main">
                    <div id="LAY_preview">

                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>默认表格</legend>
                        </fieldset>

                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>人物</th>
                                <th>民族</th>
                                <th>出场时间</th>
                                <th>格言</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>贤心</td>
                                <td>汉族</td>
                                <td>1989-10-14</td>
                                <td>人生似修行</td>
                            </tr>
                            <tr>
                                <td>张爱玲</td>
                                <td>汉族</td>
                                <td>1920-09-30</td>
                                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                            </tr>
                            <tr>
                                <td>Helen Keller</td>
                                <td>拉丁美裔</td>
                                <td>1880-06-27</td>
                                <td> Life is either a daring adventure or nothing.</td>
                            </tr>
                            <tr>
                                <td>岳飞</td>
                                <td>汉族</td>
                                <td>1103-北宋崇宁二年</td>
                                <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                            </tr>
                            <tr>
                                <td>孟子</td>
                                <td>华夏族（汉族）</td>
                                <td>公元前-372年</td>
                                <td>猿强，则国强。国强，则猿更强！ </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 通用-970*90 -->
                        <div style="margin-top: 20px;">
                            <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="6835627838"></ins>
                        </div>

                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>行边框表格</legend>
                        </fieldset>

                        <table class="layui-table" lay-skin="line">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>人物</th>
                                <th>民族</th>
                                <th>出场时间</th>
                                <th>格言</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>贤心</td>
                                <td>汉族</td>
                                <td>1989-10-14</td>
                                <td>人生似修行</td>
                            </tr>
                            <tr>
                                <td>张爱玲</td>
                                <td>汉族</td>
                                <td>1920-09-30</td>
                                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                            </tr>
                            <tr>
                                <td>Helen Keller</td>
                                <td>拉丁美裔</td>
                                <td>1880-06-27</td>
                                <td> Life is either a daring adventure or nothing.</td>
                            </tr>
                            <tr>
                                <td>岳飞</td>
                                <td>汉族</td>
                                <td>1103-北宋崇宁二年</td>
                                <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                            </tr>
                            <tr>
                                <td>孟子</td>
                                <td>华夏族（汉族）</td>
                                <td>公元前-372年</td>
                                <td>猿强，则国强。国强，则猿更强！ </td>
                            </tr>
                            </tbody>
                        </table>

                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>列边框表格</legend>
                        </fieldset>

                        <table class="layui-table" lay-even="" lay-skin="row">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>人物</th>
                                <th>民族</th>
                                <th>出场时间</th>
                                <th>格言</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>贤心</td>
                                <td>汉族</td>
                                <td>1989-10-14</td>
                                <td>人生似修行</td>
                            </tr>
                            <tr>
                                <td>张爱玲</td>
                                <td>汉族</td>
                                <td>1920-09-30</td>
                                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                            </tr>
                            <tr>
                                <td>Helen Keller</td>
                                <td>拉丁美裔</td>
                                <td>1880-06-27</td>
                                <td> Life is either a daring adventure or nothing.</td>
                            </tr>
                            <tr>
                                <td>岳飞</td>
                                <td>汉族</td>
                                <td>1103-北宋崇宁二年</td>
                                <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                            </tr>
                            <tr>
                                <td>孟子</td>
                                <td>华夏族（汉族）</td>
                                <td>公元前-372年</td>
                                <td>猿强，则国强。国强，则猿更强！ </td>
                            </tr>
                            </tbody>
                        </table>

                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>无边框表格</legend>
                        </fieldset>

                        <table class="layui-table" lay-even="" lay-skin="nob">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>人物</th>
                                <th>民族</th>
                                <th>出场时间</th>
                                <th>格言</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>贤心</td>
                                <td>汉族</td>
                                <td>1989-10-14</td>
                                <td>人生似修行</td>
                            </tr>
                            <tr>
                                <td>张爱玲</td>
                                <td>汉族</td>
                                <td>1920-09-30</td>
                                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                            </tr>
                            <tr>
                                <td>Helen Keller</td>
                                <td>拉丁美裔</td>
                                <td>1880-06-27</td>
                                <td> Life is either a daring adventure or nothing.</td>
                            </tr>
                            <tr>
                                <td>岳飞</td>
                                <td>汉族</td>
                                <td>1103-北宋崇宁二年</td>
                                <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                            </tr>
                            <tr>
                                <td>孟子</td>
                                <td>华夏族（汉族）</td>
                                <td>公元前-372年</td>
                                <td>猿强，则国强。国强，则猿更强！ </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-elem-quote" style="margin-top: 20px;">
                        <p>Layui - 精心为你雕琢</p>
                    </div>
                </div>
            </div>


            <div class="layui-tab-item">
<textarea class="layui-border-box site-demo-text site-demo-code" id="LAY_democode" spellcheck="false" readonly="">&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;title&gt;layui&lt;/title&gt;
  &lt;meta name="renderer" content="webkit"&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"&gt;
  &lt;link rel="stylesheet" href="//res.layui.com/layui/build/css/layui.css"  media="all"&gt;
&lt;/head&gt;
</textarea>
            </div>


            <div class="layui-tab-item">
                <div class="layui-main">
                    <p></p>


                    <div style="margin: 15px 0;">
                        <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="6835627838"></ins>
                    </div>


                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                        <legend>相关</legend>
                    </fieldset>
                    <a class="layui-btn layui-btn-normal" href="/doc/element/table.html" target="_blank">表格元素文档</a>
                </div>
            </div>


        </div>
    </div>
</@mainlayout>