<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>登录</title>
    <link href="static/js/layui/css/layui.css" rel="stylesheet"/>

    <style>
        body {
            width: 100%;
            margin: 0;
            padding: 0;
            background: url("static/img/bg.jpg");
            background-size: 100%;
        }

        .main {
            width: 600px;
            margin: 0 auto;
            margin-top: 150px;
            background-color: transparent;
            color: #fff;
        }

        .formbox {
            padding: 30px;
            padding-left: 0;
        }

        .formbox input {
            background-color: transparent;
        }
    </style>
</head>

<body>
<div class="main">
    <fieldset class="layui-elem-field">
        <legend>登录</legend>
        <div class="formbox">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">帐号</label>
                    <div class="layui-input-block">
                        <input type="text" name="acc" required lay-verify="required" placeholder="帐号"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="pwd" required lay-verify="required" placeholder="请输入密码"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="reg">登录</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

                <!-- <div class="layui-form-item">
                     <div class="layui-input-block">
                         <a onclick="Reg()" style="cursor:pointer;">现在注册帐号</a>
                     </div>
                 </div>-->
            </form>

        </div>
    </fieldset>

    <script src="static/js/jquery-1.11.2.min.js"></script>
    <script src="static/js/layui/layui.js"></script>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form();

            //监听提交
            form.on('submit(reg)', function (data) {
                //layer.msg(JSON.stringify(data.field));
                var loadIn = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });

                $.ajax({
                    type: "post",
                    url: "home",
                    data: data.field,
                    datatype: "json",
                    success: function (msg) {
                        //alert(msg);
                        //alert(msg.code);

                        if (msg.code == "1") {
                            layer.msg("登录成功");
                            setTimeout(function () {
                                location.href = msg.msg;

                            }, 1000);
                        }
                        else {
                            layer.close(loadIn);
                            layer.msg(msg.msg);
                        }

                    },
                    error: function () {
                        return false;
                    }


                });


                return false;
            });
        });
        function Reg() {
            layer.open({
                type: 2,
                title: "注册",
                skin: 'layui-layer-rim', //加上边框
                area: ['600px', '300px'], //宽高
                content: "/home/reg"
            });
        }
        $(document).ready(function () {

            $(".main").css("margin-top", ($(window).height() - $(".main").height()) * 0.5 + "px");
        });
    </script>
</div>


<div style="    position: fixed;
    bottom: 0;
   color:#fff;
    width: 100%;
    text-align: center;
}">版权所有©ihome</div>

</body>


</html>
