<#include "/WEB-INF/views/common/layout/___mainlayout.html" />

<#assign pageCss>

</#assign>
<!-- 加载某个页面所需要的JavaScript脚本文件 -->
<#assign pageJavascript>
    <script type="text/javascript">
         url = "list";

        $(function () {
            var form = layui.form();

            //页面加载成功后首次请求数据
            common.getData();

            //搜索
            form.on('submit(search)', function (data) {
                common.getData(data.field);
                return false;
            });

            //添加
            form.on("submit(add)",function () {
                var html = common.laytpl("_open");
                var index = common.openSave(html,'添加管理员',function () {
                    var form = layui.form();
                    form.render();
                    form.on('submit(save)', function(data){
                        common.post("save",data.field,function (json) {
                            common.msg(json.msg);
                            common.close(index);
                            common.reload();
                        });
                        return false;
                    });

                });
            });

        });

         function edit(e) {
             var data = JSON.parse($(e).attr("data-data"));
             var html = common.laytpl("_open",data);
             var index = common.openSave(html,'修改管理员',function () {
                 var form = layui.form();
                 form.render();
                 form.on('submit(save)', function(data){
                     common.post("update",data.field,function (json) {
                         common.msg(json.msg);
                         common.close(index);
                         common.reload();
                     });
                     return false;
                 });
             });
         }

        function upStatus(e) {
            var id = $(e).attr("data-id");
            var status = $(e).attr("data-status");
            var msg = "";
            if (status == 1) {
                status = 0;
                msg = "确定禁用该管理员？";
            } else {
                status = 1;
                msg = "确定启用该管理员？";
            }
            var index = common.confirm(msg, function () {
                common.post("updateStatus", {id: id, status: status}, function (json) {
                    common.close(index);
                    common.msg(json.msg);
                    common.reload();
                })
            })
        }

    </script>
</#assign>
<@mainlayout pageJavascript=pageJavascript pageCss=pageCss >

<fieldset class="layui-elem-field">
    <legend>数据列表</legend>
    <div class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">手机号码</label>
                <div class="layui-input-inline">
                    <input type="text" name="tel" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">管理员名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <input type="hidden" name="page" id="_pageNum">
                <button class="layui-btn" lay-submit lay-filter="search" id="search">
                    <i class="layui-icon">&#xe615;</i> 搜索
                </button>
                <button class="layui-btn" lay-submit lay-filter="add">
                    <i class="layui-icon">&#xe61f;</i> 添加
                </button>
            </div>
        </div>
    </div>
    <div class="layui-field-box">
        <table class="site-table table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>帐号</th>
                <th>手机</th>
                <th>管理员名称</th>
                <th>最后登录时间</th>
                <th>最后登录IP</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="admin-table-page">
            <div id="page" class="page"></div>
        </div>
    </div>
</fieldset>

<script id="_tpl" type="text/html">
    {{#  layui.each(d.data.list, function(index, item){ }}
    <tr>
        <td>{{ (d.data.pageNumber-1)*d.data.pageSize+1+index }}</td>
        <td>{{ item.acc }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.lastLoginTime }}</td>
        <td>{{ item.lastLoginIp }}</td>
        <td>{{ item.regTime }}</td>
        <td>
            <a href="javascript:;" class="layui-btn layui-btn-mini"
               data-data='{{ JSON.stringify(item) }}' onclick="edit(this)">编辑</a>
            {{# if(item.status==1){ }}
            <a href="javascript:;" data-id="{{ item.id }}" data-status="{{ item.status }}"
               class="layui-btn layui-btn-danger layui-btn-mini " onclick="upStatus(this)">禁用</a>
            {{# }else{ }}
            <a href="javascript:;" data-id="{{ item.id }}" data-status="{{ item.status }}"
               class="layui-btn layui-btn-normal layui-btn-mini " onclick="upStatus(this)">启用</a>
            {{# } }}
        </td>
    </tr>
    {{#  }); }}
    {{#  if(d.data.list.length === 0){ }}
    <tr>
        <td colspan=" {{ $('.site-table thead th').length }}">暂无数据</td>
    </tr>
    {{#  } }}
</script>

<script id="_open" type="text/html">
    <fieldset class="layui-elem-field" style="margin: 5px">
        <legend>管理员</legend>
        <form class="layui-form layui-form-pane" id="aab">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">帐号:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="admin.acc" lay-verify="required" autocomplete="off"
                               class="layui-input {{# if(d.acc){ }} layui-disabled {{# } }}" value="{{ d.acc||'' }}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">手机:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="admin.tel" lay-verify="phone" autocomplete="off"
                               class="layui-input" maxlength="11" value="{{ d.tel||'' }}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">名称:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="admin.name" lay-verify="required" autocomplete="off"
                               class="layui-input" value="{{ d.name||'' }}">
                    </div>
                </div>
            </div>
            <div style="display:none;">
                <input type="hidden" name="admin.id" value="{{ d.id||''}}">
                <button class="layui-btn  layui-btn-normal icon-save" lay-submit lay-filter="save">确定</button>
            </div>
        </form>
    </fieldset>
</script>

</@mainlayout>