
<div class="layui-footer footer footer-demo">
    <div class="layui-main">
        <p>2016 &copy; <a href="/">ihome.com</a> LGPL license</p>
        <!--<p>
            <a href="http://fly.layui.com/jie/3147.html" target="_blank">捐赠作者</a>
            &lt;!&ndash;<a href="javascript:layer.msg('暂无此页');">关于我们</a>&ndash;&gt;
            <a href="mailto:xianxin@layui.com">广告联系</a>
            <a href="https://github.com/sentsin/layui/" target="_blank">Git仓库</a>
            <a href="http://weibo.com/SentsinXu" target="_blank" rel="nofollow">微博</a>
            <a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a>
        </p>-->
    </div>
</div>
