
<script src="${contextPath}/static/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<!--<script src="${contextPath}/static/js/layui/layui.js" type="text/javascript"></script>-->
<script src="${contextPath}/static/js/layui/lay/dest/layui.all.js" type="text/javascript"></script>
<!--<script src="${contextPath}/static/js/global.js" type="text/javascript"></script>-->

<script src="${contextPath}/static/js/ihome.js" type="text/javascript"></script>
<!-- page specific plugin BEGIN -->
${pageJavascript}
<!-- page specific plugin END -->
